[flake8]
max-line-length = 80
exclude =
  .git,
  .venv,
  __pycache__,
  __init__.py,
  .mypy_cache,
  .pytest_cache,
  *.py[cod],

inline-quotes = single
multiline-quotes = single
docstring-quotes = single
