[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
fastapi = "*"
uvicorn = "*"
elasticsearch = "*"
flake8-quotes = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
flake8-commas = "*"
pep8-naming = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
start = "uvicorn main:app --host 0.0.0.0 --reload"
lint = "flake8 ."
hint = "mypy ."
